* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: dodgerblue;
    background: -webkit-linear-gradient(to right, #ec2F4B, #009fff);
    background: linear-gradient(to right, #ec2F4B, #009fff);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 30px;
}



.titulo h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    font-size: 35px;
    font-weight: normal;
    font-style: italic;
    text-shadow: 7px 4px 5px blue;
    text-align: center;

}

h1:hover {
    color: aliceblue;
}

.imagen-body img {
    width: 300px;
    align-items: center;
    padding: 40px;
    margin: auto;
    display: block;
    border-radius: 100px;
}

.busqueda name {
    text-align: center;

}

.busqueda {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

#enviar:hover,
button {

    color: rgb(9, 8, 8);
    background-color: #d3681b;
    border-radius: 5px;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    border-radius: 15px;
    border: 3px double #651800;
    text-decoration: none;
    margin: 40px;

}

#user-input {
    border: 4px solid rgb(0, 255, 204);
    width: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.flex-container {
    display: flex;
    padding: 30px 0;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
    border: 2px solid red;
    justify-content: space-between;

}

.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 25px;
    border-radius: 125px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-shadow: 7px 4px 5px rgb(0, 255, 8);
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;


}

.caja1 {
    background-image: url(IMG/margaritaimg.jpeg);
    background-size: cover;
    margin: 10px;
    color: #f07110;
    text-shadow: 7px 4px 5px rgb(0, 255, 4);
   

}

.caja2 {
    background-image: url(IMG/2.jpeg);
    background-size: cover;
    margin: 10px;
    color: #080700;
    align-items: center;

}

.caja3 {
    background-image: url(IMG/3.jpeg);
    background-size: cover;
    margin: 10px;
    color: rgb(62, 221, 13);
    text-shadow: 7px 4px 5px blue;
}

.caja4 {
    background-image: url(IMG/4.jpeg);
    background-size: cover;
    margin: 10px;
    color: white;

}

.busqueda button {
    cursor: pointer;

}

#botonMostrar button {
    max-width: 600px;
    text-align: center;
    padding: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    color: #080700;
    background-color: #d3681b;
    border-radius: 15px;
    border: 3px double #651800;
    text-decoration: none;
    margin: 40px;

}

#botonMostrar button {
    cursor: nw-resize;
}

#botonMostrar :hover {
    color: white;
}

.borrar-ingredientes {
    padding: 30px;
    margin: 20px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#imagen-bebida {
    width: 400px;
    height: 400px;
}
@media only screen and (max-width: 1128px) {
    .flex-container {
        border: 2px solid rgb(0, 34, 255);
    }
    .caja {
        border: 4px solid rgb(239, 246, 238);
        max-width: 180px;
        min-width: 180px;
        max-height: 180px;
        min-height: 180px;
      
    }
}

@media only screen and (max-width: 618px) {
    .flex-container {
        border: 2px solid rgb(0, 34, 255);
    }
    .caja {
        border: 4px solid rgb(236, 148, 7);
        max-width: 130px;
        min-width: 130px;
        max-height: 130px;
        min-height: 130px;
       
    }
}


@media only screen and (max-width: 390px) {
    .flex-container {
        flex-direction: column;
        border: 2px solid red;
    }
    .caja {
        border: 4px solid rgb(221, 0, 255);
        max-width: 100px;
        min-width: 100px;
        max-height: 100px;
        min-height: 100px;
   
    }
}

.parrafo-instrucciones{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin: 20px;
}

.class-old-image {
    border-radius: 20px;
    border: 5px solid red;
    width: 100%;
}

#ingredientes-id {
    font-size: 20px;
    text-align: left;
}

.borrar-ingredientes {
    margin: 2px;
    font-size: 16px;
    text-align: left;
}

#instructions-id {
    font-size: 16px;
    text-align: left;
}

.flex-container-ddp {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 4px solid rgb(255, 34, 0);

}
/* aqui se selecciona especificamente el o los elementos
.flex-container-ddp div {
    display: flex;
    padding: 10px;
    margin: 5px;
    flex-grow: 2px;
} */

.flex-container-info-bebida {
    display: flex;
    flex-direction: row;
    border: 4px solid greenyellow;
    justify-content: space-around;
     line-height: 20px;
    text-align: center;

}

/* @media only screen and (max-width: 390px) {
    .caja {
        flex-direction: column;
    }
} */